<% content_for :title, 'New user' %>

<h1>Add a new user</h1>

<% if ! @pending.empty? %>
<p class="success">
<%= pluralize @pending.size, 'new user' %> pending:<br/>
<% @pending.each do |user| %>
<%= "#{user.name}: <#{user.mail_forward}>" %>&nbsp;<%=link_to "Resend email", :action => "resend_email",:id => user.cn %>
<br/>
<% end %>
</p>
<% end %>

<%= form_for @user, :url => add_users_path do |f| %>

<%= render :partial => 'errors', :object => @user.save_errors %>

<div>
<%= image_tag('glyphish/111-user.png', :class => 'inline', :style => 'padding: 0 2px') %>
<%= f.label :first_name, :class => 'fallback' %>
<%= f.text_field :first_name, :placeholder => 'First name', :size => 15 %>
<%= f.label :last_name, :class => 'fallback' %>
<%= f.text_field :last_name, :placeholder => 'Last name', :size => 20 %>
</div>

<p>
If you provide a username, the user will be unable to choose their own username.
Leave blank if you would like the user to select his/her own username.
</p>

<div>
<%= image_tag('glyphish/111-user.png', :class => 'inline', :style => 'padding: 0 2px') %>
<%= f.label :username, :class => 'fallback' %>
<%= f.text_field :username, :placeholder => 'Username', :size => 15 %>
</div>

<div>
<%= image_tag('glyphish/18-envelope.png', :class => 'inline') %>
<%= f.label :mail_forward, 'Forwarding address', :class => 'fallback' %>
<%= f.email_field :mail_forward, :placeholder => 'Forwarding email address' %>
</div>

<div>
<%= image_tag('glyphish/112-group.png', :class => 'inline') %>
<%= f.label :primary_group %>
<%= f.select :primary_group, primary_groups.map {|g| [ g.name, g.groupname ] }, :include_blank => true %>
</div>

<%= f.submit :value => 'Send account creation email', :disable_with => 'Sending account creation email...' %>

<% end %>
