<% content_for :title, @user.name %>

<h1><%= image_tag('glyphish/30-key.png') %> Password for <%= @user.name %></h1>
<h2><tt><%= @user.username %></tt></h2>

<%= form_for [ @user, @password ], :url => directory_user_password_path, :html => { :method => :put } do |f| %>

<% if not @gapps_user %>
<p class="warnings">No Google Apps account. Setting local password only.</p>
<% end %>

<% if not @password.errors.empty? %>
<p class="errors">
<% @password.errors.each do |key, error| %>
<%= Password.human_attribute_name(key) %> <%= error %><br/>
<% end %>
</p>
<% end %>

<% if not @user.passworded %>
<p class="warnings">You must set a password to continue using your account.</p>
<% else %>
<div>
<%= f.label :current_password, :class => 'fallback' %>
<%= f.password_field :current_password, :value => '', :placeholder => 'Current password' %>
</div>
<% end %>
<div>
<%= f.label :new_password, :class => 'fallback' %>
<%= f.password_field :new_password, :value => '', :placeholder => 'New password' %>
</div>
<div>
<%= f.label :new_password_confirmation, :class => 'fallback' %>
<%= f.password_field :new_password_confirmation, :value => '', :placeholder => 'New password confirmation' %>
</div>

<%= f.submit :value => 'Update password', :disable_with => 'Updating password...' %>

<% end %>
