<% content_for :title, @user.name %>

<h1><%= image_tag('glyphish/30-key.png') %> Reset password for <%= @user.name %></h1>
<h2><tt><%= @user.username %></tt></h2>

<%= form_for [ @user, @password ], :url => directory_user_password_path, :html => { :method => :post } do |f| %>

<%= f.submit :value => 'Reset password & send notification email' %>

<% end %>
